.page-template-aboutus{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    h1 {
        display: none;
    }

    .hero-text {
        height: 300px;
        width: 100%;
        color: #fff;
        background-color: #95AFC9;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .team {
        max-width: 100%;
        padding: 15px;

    }

    .staff {
        position: relative;
        span{
            display: flex;
            justify-content: space-between;
            
            button {
                border: none;
                background: none;
                box-shadow: none;
            }
        }

        .circle {
            height: 160px;
            width: 160px;
            border-radius: 50%;
            background-color: rgba(159,171,183,1);
            margin: 0 auto;
        }

        .accent-name-shape {
            height: 25px;
            width: 250px;
            border-radius: 8px;
            background-color: #CBE8EA;
            position: absolute;
            right: 87px;
            bottom: -12px;
            z-index: -1;
        }
    }

    form {
        height: 81px;
        width: 100%;
        background-color: #9FABB7;
        padding: 0 12px;

        label {
            font-size: .8rem;
        }

        .input-bar{
            width: 100%;
            #e-news {
                width: 229px;
                height: 40px;
                border: none;
                border-radius: 0;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }
            #submit-button {
                height: 40px;
                width: 66px;
                background-color: #C1D3DA;
                border: none;
                box-shadow: none;

            }
        }
    }
}