.page-template-about-us{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    h1 {
        display: none;
    }

    .hero-text {
        height: 300px;
        width: 100%;
        padding: 50px 10px 0 10px;

        color: #fff;
        background-color: #95AFC9;

        font-family: Raleway;
        font-weight: 500;
        text-transform: capitalize;
        text-align: center;

        display: flex;
        flex-direction: column;
    }

    .team {
        max-width: 100%;
        padding: 15px;

        font-family: Raleway;
        font-weight: lighter;
        color: #6B747D;

    }

    .staff {
        font-weight: bold;
        position: relative;
        color: #4A4A4A;
        span{
            display: flex;
            justify-content: space-between;
            
            button {
                font-size: 2rem;
                font-weight: lighter;
                padding: 0;
                border: none;
                background: none;
                box-shadow: none;
                color: #95AFC9;
            }
        }

        .circle {
            height: 160px;
            width: 160px;
            border-radius: 50%;
            background-color: rgba(159,171,183,1);
            margin: 0 auto;
        }

        p{
            font-weight: normal;
        }

        .accent-name-shape {
            height: 25px;
            width: 250px;
            border-radius: 8px;
            background-color: #CBE8EA;
            position: absolute;
            right: 87px;
            bottom: -12px;
            z-index: -1;
        }
    }

    form {
        height: 81px;
        background-color: #9FABB7;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        label {
            font-size: .7rem;
            font-family: Raleway;
            color: white;
            text-transform: uppercase;
        }

        .input-bar{
            font-size:0;
            display: inline-flex;

            #e-news {
                width: 229px;
                height: 40px;

                border: none;
                border-radius: 0;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }
            #submit-button {
                height: 40px;
                width: 66px;
                padding: 0;

                font-weight: lighter;
                text-shadow: none;
                text-transform: uppercase;
                color: #4A4A4A;

                background-color: #C1D3DA;
                border: none;
                box-shadow: none;
                border-radius: 0;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }
        }
    }
}