.blog-header {
    /* carousel height */
    .carousel {
        height: 300px;
        width: 100%;
        background-color: lightcoral;
    }

    /* cell inherit height from carousel */
    .carousel-cell {
        height: 100%;
        width: 100%;
        background-color: white;
    }

    /* move page dots into carousel */
    .flickity-page-dots { 
        bottom: 10px;
    }
}