.general-template-section {
    background-color: #fff;
}

.article-slider {
    height: 300px;
    background-color: $logo_color;
}

    
ul {
    margin: 0;
    padding: 0;
}

/* carousel height */
.carousel {
    height: 100%;
    width: 100%;
}

/* cell inherit height from carousel */
.carousel-cell {
    height: 100%;
    width: 150px;
    background-color: white;
    .postcell {
        height: 175px;
        width: 125px;
    }
}

/* move page dots into carousel */
.flickity-page-dots { 
    bottom: 10px;
}