.blog-content{
    background-color: #fff;

    .custom-hero-image{
        display: none;
        @include desktop {
            display: block;
            height: 200px;
        }
    }

    .article-slider {
        height: 300px;
        background-color: transparent;
        @include desktop {
            background-color: transparent;
            margin-bottom: 150px;
        }

        article {
            height: 100%;
            @include flex-column;
            justify-content: space-between;

            text-align: center;
        }
        .cell-head {
            align-self: center;
        }
        .flickity-slider {
            @include desktop {
                // width: 300px;
                margin: 0 auto;
            }
        }
        /* move page dots into carousel */
        .flickity-page-dots {
            bottom: 17.5px;
            @include desktop {
                bottom: -30px;
            }

            .dot {
                width: 12px;
                height: 12px;
                opacity: 1;
                background: transparent;
                border: 2px solid white;
                @include desktop {
                    border: 2px solid $darktheme_color;
                }
            }
        }
        /* fill-in selected dot */
        .flickity-page-dots .dot.is-selected {
            background: white;
            @include desktop {
                background: $darktheme_color;
            }
        }
        article {
            width: 100%;
            position: relative;
            @include flex-column;
        }
        .cell-img {
            background-position: center;
            width: 225px;
            height: 175px;
            padding: 25px;
            @include flex-column;
            justify-content: center;
            @include desktop {
                padding: 0;
            }
        }
        p {
            color: $basetext_color;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            @include desktop {
                font-size: 1rem;
            }
        }
        ul { /* carousel height */
            height: 100%;
            margin: 0;
            padding: 0;
            list-style-type: none;
            button {
                display: none;
            }
            @include desktop {
                height: 280px;
                background-color: rgba(216,216,216,1);
            }
        }
    }

    /* cell inherit height from carousel */
    .carousel-cell {
        height: 210px;
        width: 250px;
        margin: 45px;
        @include desktop {
            height: 220px;
            margin-right: 10px;
        }
    }

    .full-article {
        article {
            display: none;
            padding-bottom: 20px;

            img {
                height: 133px;
                width: 100%;
                object-fit: cover;
                @include desktop {
                    height: 400px;

                }
            }
        }
        .article-head {
            height: 100%;
            background-color: #BFE9FD;
            @include flex-column;
            justify-content: center;
            @include desktop {
                position: relative;
                margin-bottom: 50px;
            }
        }
        h2 {
            font-size: 4vh;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
            padding: 15px;
            @include desktop {
                position: absolute;
                top: 0;
                font-weight: 700;
                text-align: left;
                background-color: $accentcolor_bar;
                font-size: 2rem;
                max-width: 830px;
                margin: 0 auto;
            }

        }
        h3 {
            text-align: center;
            padding: 10px;
            background-color: $base_color;
            @include desktop {
                position: absolute;
                padding: 10px 25px;
                background-color: $accentcolor_bar;
                bottom: 0;
                right: 0;
            }
        }

        p {
            padding: 0 15px;
            @include desktop {
                width: 830px;
                margin: 0 auto;
            }
        }
    }

    .button-container {
        height: 30px;
        display: flex;
        justify-content: space-between;
        margin: 25px;
        @include desktop {
            width: 830px;
            margin: 0 auto;
            margin-bottom: 30px;
        }
    }

    button {
        height: 30px;
        width: 70px;
        margin: 0;
        padding: 0;
        border: none;
        background: none;
        box-shadow: none;
    }
    button:focus {outline:0;}

}
