.page-template-contact-us {
    h1, h2, h3, h4{
        margin: 0;

        font-family: Raleway;
        font-weight: 300;
    }

    .hero-text {
        height: 300px;
        width: 100%;
        padding: 66px 10px 0 10px;

        color: #fff;
        background-color: #95AFC9;

        font-family: Raleway;
        font-weight: 500;
        text-transform: capitalize;
        text-align: center;

        display: flex;
        flex-direction: column;

        h1 {
            font-size: 1.5rem;
            margin-bottom: 50px;
        }
        .hero-phone {
            font-size: 2rem;
        }
    }

    .email-inquiries {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 40px 15px;

        color: $lighttext_color;

        .email-info {
            width: 100%;
        }

        h2 {
            font-size: 1.5rem;
            padding-bottom: 15px;
        }

        p{
            font-size: .9rem;
            padding-bottom: 8px;
        }

        a{
        }

    }

    .info-dropdown {
        height: 100%;
        background-color: lightblue;
        display: flex;
        align-items: center;
        justify-content: space-around;

        #hideshow{
            border: none;
            border-radius: 0;
            background: none;
            box-shadow: none;
            height: 50px;
            padding: 0;
        }

    }
    .info-field {
        height: 200px;
        background-color: $lighttheme_color;
    }
}