.section-15px-padding{
    padding:0 15px;
    }

.core-h3-container{
    width:100%;
    border-bottom: 2px solid #4A4A4A;
	padding-bottom:16px;
    }

.core-header{
    margin:0;
    width:175px;
    color:#6B747D;
    font-size:20px;
    line-height:24px;
    margin-top:39px;
        @include desktop{
            font-size:40px;
            width:700px;
            }
}

.table-section-container{
    @include desktop{
        display:flex;
    }
}

.classroom-dates-section, .online-dates-section{
    @include desktop{
        width:350px;
    }
}

.dates-table{
    @include desktop{
        max-width:400px
    }
}


.register-online-button{
    @include desktop{
        display:inline;
    }
}

.register-button-para-container{
    @include desktop{
        display: flex;
        flex-direction: row-reverse;
    }
}



.earth-logo{
    width:26px;
    height:26px;
    margin-right:9px;
    }

.avail-online-heading-container, .core-training-text-image-container{
    display:flex;
    margin-top:25px;
    margin-bottom:15px;
    align-items:center;
        h3{
            margin:0;
            text-transform:uppercase;
            font-size:18px;
            font-weight:bold;
            }
        }

.light-training-para{
    color:#6B747D;
    font-size:14px;
    line-height:2;
}

.dark-training-para{
    color:#4A4A4A;
    font-size:14px;
    line-height:2;
    margin-bottom:35px;
}

.online-class-icon-heading-container{
    display:flex;
    margin-top:35px;
        h3{
            margin:0;
            font-size:20px;
            color:#4A4A4A;
            transform: translatey(-18px);
            width: 200px;
        }
}

.training-list-header{
    padding:0;
    margin:0;
    list-style:none;
        li{
            border:1px solid black;
            margin-bottom:5px;
            padding-left:5px;
        }
}
        
.training-date-text{
            font-size:11px;
            color:#4A4A4A;
            line-height:2;
            font-weight:bold;
            text-transform:uppercase;
                span{
                    text-transform:none;
                    font-weight:300;
                    margin-left:45px;
                }
        }

.training-date-list{
    span{
        font-weight:300;
        margin-left:45px;
        text-transform:normal;
    }

}

.house-logo{
    width:27.94px;
    height:28.92px;
    margin-right:9px;
}

.table-heading{
    display:inline-block;
    min-width:100px;
    font-size:11px;
    margin-left:6px;
}

.training-table-data{
    display:flex;
}

.table-content{
    font-size:11px;
}

tr{
    border-top:1px solid black;
    border-right:1px solid black;
    border-left:1px solid black;
    margin:0;
    height:85px;
    padding-top:9px;
        td{
            margin-top:9px;
        }
}

table{
    border-bottom:1px solid black;
}