.page-template-core-training {
        .main-carousel{
                width: 100%;
                padding-top:20px;
                margin-top:2rem;
                padding-bottom:20px;
                .carousel-cell{
                    width: 100%;
                    height: auto;
                    p{
                        margin-top: 20px;
                    }
                    h1{
                        color: $darktext_color;
                    }
                }
                ol{
                    display: none;
                }
                .flickity-prev-next-button{
                    border: none;
                    background: none;
                    box-shadow: none;
                    padding: 0;
                }
                .flickity-prev-next-button.next {
                }
                .flickity-prev-next-button.previous {
                }
    }

    .section-15px-padding{
        padding:0 15px;
    }

    .core-h3-container{
        width:100%;
        border-bottom: 2px solid #4A4A4A;
        padding-bottom:16px;
        margin-bottom:18px;
    }

    .carousel-cell.is-selected{
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .core-header{
        margin:0;
        width:175px;
        color:#6B747D;
        font-size:20px;
        line-height:24px;
        margin-top:39px;
            @include desktop{
                font-size:40px;
                width:700px;
            }
    }

    .light-first-para, .dark-second-para{
        word-break:break-all;
    }

    .register-online-button{
        @include general-button;
             background-color:#6B747D;
    }

    .table-section-container{
        @include desktop{
            display:flex;
            justify-content:space-around;
            margin-top: 3rem;
        }
    }

    .book-training.register-button{
        margin:0 auto;
            @include desktop{
                margin-right:0;
        }
    }

    .small-para-container{
        margin-top:2rem;
            @include desktop{
                margin-top:0;
            }
    }

    .classroom-dates-section, .online-dates-section{
        @include desktop{
            width:350px;
        }
    }

    .dates-table{
        @include desktop{
            max-width:400px;
        }
    }

    .core-training-info-list{
        margin:0;
        padding:0 15px;
        list-style:none;
    }

    .info-list-content{
            font-size:18px;
            line-height:30px;
        }
 

    .general-button{
        @include general-button;
        margin-bottom:29px;
    }


    .register-online-button{
        @include desktop{
            display:inline;
        }
    }

    .register-button-para-container{
        @include desktop{
            display: flex;
            flex-direction: row-reverse;
            margin-top: 12px;

        }
    }

    .earth-logo-change{
        width: 40px;
        height: 30px;
        background-image:url('../../images/earth_icon.svg');
        background-size:contain;
        background-repeat:no-repeat;
            @include desktop{
                background-image:url('../../images/blue_earth_icon.svg');
                width:30px;
                height:30px;
                margin-right:10px;
            }
    }

    .earth-logo{
        width:2rem;
        height:2rem;
            @include desktop{
                width:60px;
                height:60px;
                margin-right:9px;
            }
    }




    .avail-online-heading-container{
        display:flex;
        margin: 15px 0;
        align-items:center;
        max-width: 35rem;
            @include desktop{
                margin-left: 0;
                margin-bottom:59px;
                min-width:10rem;
            }
            h3{
                margin:0;
                text-transform:uppercase;
                font-size:14px;
                font-weight:bold;
                    @include desktop{
                        font-size:18px;
                        text-transform:none;
                    }
            }
    }

    .avail-online-heading-container{
        h3{
            text-transform:uppercase;
        }
    }

      .core-training-text-image-container{
        width: 16rem;
        margin-bottom:1rem;
            @include desktop{
                width:19rem;
                // margin-bottom: 3.2rem;
            }
            h3{
                font-size:17px;
                    @include desktop{
                        font-size:20px;
                    }
            }
    }

    .avail-online-h3{
        width:11rem;
        @include desktop{
            width:100%;
            margin-top: 12px;

        }
    }
    
    .light-training-para{
        color:#6B747D;
        font-size:14px;
        line-height:2;
        max-width:1024px;
    }

    .dark-training-para{
        color:#4A4A4A;
        font-size:14px;
        line-height:2;
        margin-bottom:35px;
    }

    .online-class-icon-heading-container, .core-training-text-image-container{
        display:flex;
        margin-top:35px;
        align-items:center;
        margin-bottom:1rem;
            @include desktop{
                margin-bottom:45px;
            }
            h3{
                margin:0;
                font-size:20px;
                color:#4A4A4A;
                width: 200px;
                margin-left:1rem;
                    @include desktop{
                        width:100%;
                    }
            }
    }

    .online-class-icon-heading-container{
        border-top:2px solid #979797;
    }

    

    .training-list-header{
        padding:0;
        margin:0;
        list-style:none;
            li{
                border:1px solid black;
                margin-bottom:5px;
                padding-left:5px;
            }
    }

    .training-list{
        @include desktop{
            padding:0 87px;
        }
    }
            
    .training-date-text{
                font-size:11px;
                color:#4A4A4A;
                line-height:2;
                font-weight:bold;
                text-transform:uppercase;
                    span{
                        text-transform:none;
                        font-weight:300;
                        margin-left:45px;
                    }
            }

    .training-date-list{
        span{
            font-weight:300;
            margin-left:45px;
            text-transform:normal;
        }

    }

    #training-pdf-container{
		display:flex;
		justify-content:space-between;
		margin-bottom:5px;
		align-items:center;
		flex-wrap:wrap;
			a{
				background-color:#fff;
				width:80px;
				height:44px;
				display: flex;
				justify-content: center;
				align-items: center;
				text-decoration: none;
				border-radius:8px;
				border:1px solid white;
                    @include desktop{
                        margin-top:10px;
                    }
			}
	}


    .house-logo{
        width:27.94px;
        height:28.92px;
        margin-right:9px;
            @include desktop{
                width:6rem;
                height:45.65px;
            }
            
    }

    .table-heading{
        display:inline-block;
        width:70px;
        font-size:11px;
        margin-left:6px;
    }

    .training-table-data{
        display:flex;
    }

    .online-dates-section,.classroom-dates-section{
        @include desktop{
            width:45vw;
            padding:0;
            max-width:400px;
            border-top:1px solid #979797;
        }
    }

    .table-content{
        font-size:11px;
    }

    .yoga-info-title{
		font-size:16.38px;
	}

    tr{
       
            td{
                margin-top:9px;
            }
    }

    .dates-table{
        border-bottom:1px solid black;
            tr{
                height:60px;
                border-top:1px solid black;
                border-right:1px solid black;
                border-left:1px solid black;
                margin:0;
                padding-top:9px;
            }
                @include desktop{
                    width:45vw;

                }
    }

    .dates-table{
        .classroom-tr{
            height: 100px;
            padding-bottom: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }

    .carousel-cell.is-selected{
        width:70;
        text-align:center;
    }
}//Core Training Wrapper
