.general-first-button.core{
    background-color:#6CFFFE;
}

.general-second-button.core{
    background-color:#94BFD1;
}


.section-15px-padding{
    padding:0 15px;
}

.core-h3-container{
    width:100%;
    border-bottom: 2px solid #4A4A4A;
	padding-bottom:16px;
    
}

.core-header{
    margin:0;
    width:175px;
    color:#6B747D;
    font-size:20px;
    line-height:24px;
    margin-top:39px;
    
}