.event-content {
    .custom-hero-image {
        background-size: 300%;
        background-position: left 0px top -147px;
        @include desktop {
            background-size: cover, cover;
            background-position: left 0px top 0px;
        }
    }

    .general-button{
        @include general-button;
        margin-bottom:29px;
    }

    .container {
        color: $lighttext_color;
        @include desktop {
            background-color: $lighttheme_color;
            z-index: 999;
        }
        h2 {
            font-size: 1.5rem;
            font-weight: 300;
            text-align: center;
            margin: 35px;
            @include desktop {
                font-size: 2.5rem;
                font-weight: 700;
                padding: 60px 0;
                margin: 0;
                background-color: $base_color;
            }
        }
    }

    .body-info {
        background-color: $lighttheme_color;
        padding: 42px 15px;
        position: relative;
        z-index: -2;
        @include desktop {
            max-width: 830px;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            z-index: 1;
            padding-bottom: 148px;
        }
        h3{
            font-size: 1.5rem;
            font-weight: 300;
            text-transform: uppercase;
            z-index: 1;
            @include desktop {
                font-size: 2.2rem;
            }
        }
        .accent-name-shape{
            width: 157px;
            height: 27px;
            border-radius: 8px;
            background-color: #EBE5D8;
            position: absolute;
            bottom: -9px;  
            z-index: -1;
            @include desktop {
                height: 90px;
                width: 524px;
                bottom: -40px;
                left: -50px;
            }
        }
        .img-contain{
            display: flex;
            justify-content: center;
            @include desktop {
                order: 2;
                display: flex;
                justify-content: space-between;
                img:not(:first-child) {
                    display: flex;
                }
            }
        }
        img:not(:first-child) {
                display: none;
            }
        
        .event-img {
            height: 161px;
            width: 161px;
            border-radius: 50%;
            margin-bottom: 47px;
            object-fit: cover;
        }
        .photo-frame {
            @include desktop {
                width: 145px;
                height: 88px;
                border-radius: 0;
                background-color: $mediumtheme_color;
            }
        }
        table {
            height: 90px;
            border: 1px solid black;
            background-color: $basetext_color;
            @include desktop {
                order: 1;
                width: 487px;
                height: 140px;
            }
            h4 {
                font-size: 0.7rem;
                text-transform: uppercase;
                padding-left: 5px;
                margin: 0;
                width: 69px;
                @include desktop {
                    font-size: 1rem;
                    width: 80px;
                }
            }
            p {
                font-size: 0.6rem;
                @include desktop {
                    font-size: 1rem;
                }
            }
            td {
                padding: 0 9px;
            }
        }
        article {
            @include desktop { 
                order: 3;
            }
            p {
                font-size: 0.9rem;
                @include desktop {
                    font-size: 1.2rem;
                }
            }
        }
    }

    .title-contain {
        position: relative;
        margin-bottom: 35px;
        border-bottom: 1px solid $lighttext_color;
        @include desktop {
            width: 830px;
            margin: 0 auto;
            margin-bottom: 50px;
            display: flex;
            justify-content: space-between;
        }
        .primary-button {
            display: none;
            @include desktop {
                display: block;
                width: 200px;
                text-align: center;
                background-color: $formtheme_color;
            }
        }
    }
    .desktop-contain {
        @include desktop {
            @include flex-column;
            margin-right: 10%;
            width: 60%;
        }
        section {
            display: none;
            @include desktop {
                display: block;
                order: 4;
                h3{
                    font-size: 1.5rem;
                    text-transform: capitalize;
                }
            }
        }
    }
    .desktop-right {
        display: none;
        @include desktop {
            display: block;
            width: 30%;
            h3 {
                font-size: 1.3rem;
                font-weight: 700;
                text-transform: capitalize;
                color: $darktext_color;
            }
            img {
                height: 75px;
                width: 75px;
                object-fit: cover;
                border-radius: 50%;
            }
            .facilitator {
                display: flex;
                margin-bottom: 43px;
                position: relative;
                p{
                    color: $darktext_color;
                    font-size: 1.2rem;
                }
                .accent-name-shape {
                    width: 271px;
                    height: 25px;
                    background-color: #CBE8EA;
                    bottom: 0px;
                }
            }
        }
    }
    .booking-button {
        height: 85px;
        background-color: #6B747D;
        display: flex;
        justify-content: center;
        align-items: center;

        .primary-button{
            width: 200px;
            background-color: $base_color;
            color: $darktext_color;
        }
    }
    .info-dropdown {
        @include desktop {
            display: none;
        }
        h3 {
            font-size: 0.9rem;
        }
    }
    .info-field {
        .facilitator{
            display: flex;
            padding: 10px;
            margin-bottom: 25px;
            position: relative;
            img {
                width: 75px;
                height: 75px;
                border-radius: 50%;
                object-fit: cover;
                z-index: 1;
            }
            p {
                margin: 40px 0 0 10px;
                font-size: 1.3rem;
                color: $darktext_color;
                z-index: 1;
            }
            .accent-name-shape {
                width: 271px;
                height: 25px;
                border-radius: 8px;
                background-color: #CBE8EA;
                position: absolute;
                left: -40px;
                bottom: 8px;
                opacity: 0.3;
            }
        }
    }

    .info-container {
        @include desktop {
            display: none !important;
        }
    }

    .container2 {
        @extend .container;
        .body-info {
            background-color: #F2FBFF;
            .accent-name-shape {
                background-color: $brightbutton_color;
                opacity: 0.3;
            }
        }
    }

    #retreat {
        @include desktop {
            .img-contain {
                display: block;
                .photo-frame {
                    margin-bottom: 10px;
                    height: 230px;
                    width: 230px;
                    background-color: lightblue;
                }
            }
            .event-dropdown {
                padding:15px 0;
            }
            .event-info {
                margin-left: 15px;
            }
            span {
                display: block;
            }
        }
    }
}