footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-transform: uppercase;
  margin: 0 auto;
  form {
    width: 100%;
    height: 81px;
    background-color: #9FABB7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include desktop{
      flex-direction: row;
      height:50px;
    }
    label {
      font-size: .7rem;
      font-family: raleway;
      color: white;
      text-transform: uppercase;
      @include desktop{
        padding: 0 0.5rem;
      }
    }
    .input-bar{
      font-size:0;
      display: inline-flex;
      #e-news {
        width: 229px;
        height: 40px;
        border: none;
        border-radius: 0;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        @include desktop{
          width: 383px;
          height:20px;
        }   
      }
      #submit-button {
        height: 40px;
        width: 66px;
        padding: 0;
        font-weight: lighter;
        text-shadow: none;
        text-transform: uppercase;
        color: #4A4A4A;
        background-color: #C1D3DA;
        border: none;
        box-shadow: none;
        border-radius: 0;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        @include desktop{
          width: 47px;
          height:20px;
        }
      }
    }
  }
  .site-info{
    @include desktop{
      display: inline-flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      max-width: $site_container;
    }
  }
  .siteinfo-text{
    margin-top: 50px;
    text-align: center;
    @include desktop{
      display: inline-flex;
      margin: 0;
    }
  }
  p{
    margin: 0;
    font-size: 14px;
    @include desktop{
      padding: 1rem;
    }
  }
  .socialmedia-icons{
    color:#9FABB7;
    font-size: 1.2rem;
    ul{
      list-style: none;
      margin:0;
      padding:0;
      li{
        display: inline-block;
        width: 40px;
        height: 40px;
        margin: 20px 10px 20px 10px;
        border: 1.5px solid #9FABB7;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }
      a{
        color: #9FABB7;
        &:hover{
          color:#C1D3DA;
        }
      }
    }
  }
  .copyright{
    text-transform: capitalize;
    padding: 10px;
    font-size: 14px;
  }
}
