/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
/* Custom */
.page-template-application-submission{
	header, footer{display:none;}
	.form-success{
		background:  $accentcolor_bar2;
		height: 100vh;
		display: flex;
		justify-content: center;
		flex-direction: column;
    	align-items: center;
		text-align:center;
		h2{
			margin-bottom: 10%;
		}
		p{
			margin-bottom: 2%;
		}
		.small-button{
			bottom: 20%;
			@include desktop {
				bottom: 25%;
			}
			@include small-button;
			margin: 0 auto;
			a{
				color: $lighttext_color;
				text-decoration: none;
			}
		}
	}
}
.page-template-forms-template{
	.entry-header{
		display: none;
	}
	.app-form{
		ul.gfield_radio{
			@include desktop{
				display: flex;
			}
		}
		.gform_heading{
			max-width: 1020px;
			width: 100%;
			margin: 0 auto;
			padding: 10px;
			h3{
				font-size: 42px;
				margin:0 auto;
			}
		}
		.gform_body{
			li:not(.gfield_html), .gfield_error{
				padding: 10px;
				max-width: 1020px;
				width: 100%;
				margin: 0 auto!important;
				label{
					text-transform: uppercase;
				}
			}
			.gfield_select, .address_state select{
				background: transparent;
				border: 1px solid #ccc;
				border-radius: 3px;
				height: 34px;
				margin-top: 0;
			}
			ul li {
				input[type="radio"] {
					display:none;
				}
				input[type="radio"] + label {
					color: $lighttext_color;
					font-family:Arial, sans-serif;
					font-size:14px;
				}
				input[type="radio"] + label span {
					display:inline-block;
					width:30px;
					height:30px;
					margin:-1px 4px 0 0;
					vertical-align:middle;
					cursor:pointer;
					border: 1px solid $lighttext_color;
					border-radius:  50%;
				}

				input[type="radio"] + label span{
					background-color:transparent;
					margin: 10px;
				}

				input[type="radio"]:checked + label span{
					background-color:$darktext_color;
				}
			} 
			.form-sub-heading{
				padding: 10px;
				background-color: $accentcolor_bar;
				color: $base_color;
				max-width: 100vw;
				text-transform: uppercase;
				font-size: 1.5rem;
				@include larger-desktop{
					padding-left: 14%;
				}
			}
		}
		.gform_footer{
			background-color: $accentcolor_box;
			input.gform_button{
				@include general-button;
				color: $lighttext_color;
				background-color: $base_color;
			}
		}
	}


}

.forms-header{
	height: 40vh;
}

/* Core Scholarship Training */
#gform_7{
	
	.gform_title, .gform_description:not(h3){
		max-width:752px;
		margin:0 auto;
		margin-bottom:29px;
	}
	body, li:not(.form-sub-heading){
		max-width:828px;
		margin:0 auto;
	}

	.core-schol-main-p{
		color:$mediumtheme_color;
		line-height:24px;
		font-size:14px;
		max-width:828px;
		margin:0 auto;
		margin-left: auto!important;
			span{
				display:block;
				font-weight:bold;
			}
	}

	.core-schol-list{
		color:$mediumtheme_color;
		font-size:14px;
				line-height:18px;
				margin-left: auto!important;
	}

	.core-details{
		background-color:$mainbutton_color;
		color:#fff;
		font-size:20px;
		max-width:100vw;
	}
}

/* Module Quizzes */
.page-template-quiz-template{
	min-height:100vh;
}
.entry-content{
	.gform_wrapper{
		.module-quiz{
			max-width: $site_container;
			width: 100%;
			padding: 10px;
		}
		ul li {
			input[type="radio"] {
				display:none;
			}
			input[type="radio"] + label {
				color: $lighttext_color;
				font-family:Arial, sans-serif;
				font-size:14px;
			}
			input[type="radio"] + label span {
				display:inline-block;
				width:30px;
				height:30px;
				margin:-1px 4px 0 0;
				vertical-align:middle;
				cursor:pointer;
				border: 1px solid $lighttext_color;
				border-radius:  50%;
			}

			input[type="radio"] + label span{
				background-color:transparent;
				margin: 10px;
			}

			input[type="radio"]:checked + label span{
				background-color:$darktext_color;
			}
		} 
		.gform_next_button, .gform_button{
			@include general-button;
			color: $lighttext_color;
			background-color: $mainbutton_color;
			margin: 15px;
			display: inline;
		}

		.gform_previous_button{
			@include general-button;
			color: $lighttext_color;
			background-color: $formbutton_color;
		}
		.percentbar_blue{
			background-color: $logo_color;
		}

		.gf_progressbar_percentage{
			background: linear-gradient(to right, $logo_color , $formbutton_color);
		}
	}
}

/* Successful Quiz */
.page-template-quiz-template{
	background: linear-gradient(rgba(216,216,216,0.6), rgba(182, 234, 255, 0.7)), url(../../images/deniz-altindas-38128.jpg)no-repeat center top;
    background-size: cover, cover;
	header, footer{display:none;}
	.site-main, .entry-content, .module-quiz_wrapper{
		margin: 0 auto;
		height:50%;
		padding-top:15px;
	}
}
.module-quiz{
	max-width: $site_container;
	width: 100%;
	padding: 10px;
	margin: 0 auto;
	text-align: center;
	background-color: $base_color;
}

.gform_confirmation_message{
	text-align: center;

	.main-button{
		@include general-button; 
		margin: 25px auto;
		&.grey-button{
			background-color: $mainbutton_color;
			a{
				color: $base_color;
			}
			&:hover{
				background-color: $brightbutton_color;
				a{
					color: $darktext_color;
				}
			}
		}
	}
	
	.gform_button{
		@include general-button;
		color: $lighttext_color;
		background-color: $mainbutton_color;
		margin: 15px auto;
	}
}

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, .8);
	@include font-size(0.75);
	line-height: 1;
	padding: .6rem 1rem .4rem;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);

	&:hover {
		border-color: #ccc #bbb #aaa;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
	}

	&:active,
	&:focus {
		border-color: #aaa #bbb #bbb;
		box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
	}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;

	&:focus {
		color: #111;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}


