
.info-dropdown {
    height: 60px;
    padding: 15px;
    background-color: $lighttheme_color;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
        font-weight: bold;
        font-size: 1.3rem;
            @include desktop{
                font-size:24px;
            }
    }
    span {
        font-size: 4rem;
        color: $accentcolor_line;
            @include desktop{
                display:none;
            }
    }
}

.info-field, .module-field {
    display: none;
    height: 100%;
    padding: 0 15px 20px;
    background-color: $lighttheme_color; 
    font-size: .9rem;
    font-weight: lighter;
}

.entry-title{
	text-align:center;
    color:$base_color;
    padding-top:49px;
	font-weight:500;
}

*{
    font-family:'raleway',sans-serif;
}

.page-title-header{
	text-align:center;
    color:$base_color;
	padding-top:66px;
    font-weight:300;
    font-size:24px;
}

.entry-content-page {
    @extend .page-title-header;
    font-size: 1rem;
    padding: 44px 20px;
}

.teal-button{
	background-color: $brightbutton_color;
}

.grey-button{
	background-color: $mainbutton_color;
    a{
        color: $base_color;
    }
    &:hover{
        background-color: $brightbutton_color;
        a{
            color: $darktext_color;
        }
    }
}

.white-button{
	background-color: $base_color;
}

.dark-button{
	background-color: $mediumtheme_color;
    a{
        color: $base_color;
    }
    &:hover{
        background-color: $formbutton_color;
        a{
            color: $darktext_color;
        }
    }
}

.clear-button{
    border: 1px solid $base_color;
    background-color: transparent;
    a{
        color: $base_color;
    }
    &:hover{
        background-color: $base_color;
        a{
            color: $darktext_color;
        }
    }
}

.general-button:hover{
    box-shadow:none;
}

.testimonial-list.main-carousel{
	height:100px;
	list-style:none;
	margin:0;
	text-align:center;
	font-size:12px;
    background-color:#EBE5D8;
		li{
			width:100%;
			display:flex;
		}
}


.page-subtitle{
    color:white;
    font-size:16px;
    margin-top:44px;
    padding:0 1rem;
    text-align:center;
    line-height:25px;
    }

.general-template-section{
	height:400px;
	background-color:lightgreen;
	width:100%;
	position:relative;
    z-index:-1;
        @include desktop{
            height:642px;   
        }
	}

.black-text{
    color:black;
}

.general-button-container{
	position: absolute;
	width:100%;
	bottom:0;
		@include desktop{
			display:flex;
			}
	}

.section-15px-padding{
    padding:0 4%;
        @include desktop{
            padding: 0 7%;
        }
    }

//Training Facilities List
.training-list{
	height:auto;
	width:100%;
	background-color: #95AFC9;
	margin:0;
	list-style:none;
	padding:19px 15px;
}

.training-list-item{
	font-weight:500;
	font-size:14px;
		.info-field, .info-dropdown{
			background-color:#95AFC9;
			border-bottom:none;
			width:100vw;
			padding:0;
				span{
					color:$darktheme_color;
						font-weight:200;
					}

		}
}

.main-button {  // Style for a href buttons
    height: 44px;
    width: 230px;
    border-radius: 8px;
    padding: 14px 30px;
    font-size: 0.8rem;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background-color: $accentcolor_bar;
}