p {
  margin-bottom: 0;
  margin: 0;
}
#site-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  z-index: 10;
  @include desktop {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 200px;
  }
  .signinbutton-container {
    @include desktop {
      width: 50%;
    }
  }
  .signin-button {
    display: none;
    @include desktop {
      display: block;
      width: 150px;
      height: 45px;
      background-color: #B6EAFF;
      border-radius: 8px;
      box-shadow: none;
      border: none;
      a {
        text-shadow: none;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
        color: $darktext_color;
      }
    }
  }
  a {
    color: $lighttext_color;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2rem;
  }
  .fa-bars {
    color: $formtheme_color;
    font-size: 2.3rem;
    padding: 1rem;
    order: 3;
    @include desktop {
      display: none;
      position: absolute;
      right: 50px;
    }
  }
  .mainmenu-list {
    display: none;
    @include desktop {
      display: block;
      z-index: 2;
      position: relative;
      max-width: 1024px;
      width: 67%;
      min-width: 915px;
      left: 9%;
    }
    .menu-item-73 {
    @include desktop{
      display:none;
      }
    }
    .sub-menu{
      box-shadow: none;
    }
    .desktop-search {
      display: none;
      @include desktop {
        display:block;
        color: $base_color;
      }
  }
	.search-field{
		transition: all 0.5s;
	}
	fieldset{
    position:relative;
    width: 251px;
		border: 0;
    padding: 0;
    margin-right: 0;
		input{
      position: absolute;
      left: 60px;
      top: 18px;
			width: 0;
			border: 0;
			padding: 0;
			font-size: 0.8rem;
			background-color: transparent;
			&:focus{
				outline:none;
			}
		}
		button{
      position: absolute;
      top: 4px;
      left: 0;
			background-color:transparent;
			padding:0;
      border: none;
      box-shadow: none;
      width: 50px;
      margin: 0;
			&:focus{
				outline:none;
			}
      i{
        color: white;
        font-size: 16px;
        text-shadow: none;
        &:hover{
          color:$button_color2;
        }
      }
		}
    	.searchAppear{
			  width: 170px;
		  }
	}
  
  }
  #primary-menu {
    display: flex;
    flex-direction: column;
    box-shadow: none;
    top: 18%;
    left: 26%;
    z-index: 2;
    @include desktop {
      display: block;
      position: inherit;
    }
    
    #menu-item-253{
      display: flex;
      flex-direction: column;
      .sub-menu{
        display: flex;
        flex-direction: column;
        box-shadow: none;
        position: static;
        li{
          padding: 0;
          margin: 0 auto;
        }
      }
    }
      #menu-item-141{
        display: flex;
        flex-direction: column;
        .sub-menu{
          display: flex;
          flex-direction: column;
          box-shadow: none;
          position: static;
          padding: 0.4rem;
          li{
            padding: 0;
            margin: 0 auto;
          }
        }
      }
       #menu-item-255{
        display: flex;
        flex-direction: column;
        .sub-menu{
          display: flex;
          flex-direction: column;
          box-shadow: none;
          position: static;
          padding: 0.4rem;
          li{
            padding: 0;
            margin: 0 auto;
          }
        }
      }
       #menu-item-144{
        display: flex;
        flex-direction: column;
        .sub-menu{
          display: flex;
          flex-direction: column;
          box-shadow: none;
          position: static;
          padding: 0.4rem;
          li{
            padding: 0;
            margin: 0 auto;
          }
        }
      }
    .menu-item{
      padding: 1rem;
      margin:0 auto;
    }

    .sub-menu {
      @include desktop{
      padding-top: 20px;
      .menu-item{
        padding: 0;
        margin:0 auto;
        text-align: left;
      }
    }
    }

    .menu-item-type-post_type {
       a {
        color: $mediumtheme_color;
        &:hover{
          color:$button_color2;
        }
        @include desktop {
          color: $base_color;
          font-size: 16px;
        }
      }
    }
    .menu-item-has-children{
      a {
        color: $mediumtheme_color;
        &:hover{
          color:$button_color2;
        }
        @include desktop {
          color: $base_color;
          font-size: 16px;
        }
      }
    }
  }
  .menu-main-menu-container {
    @include desktop {
      display: block;
      order: 2;
      margin: 0 auto;
      z-index:10;
    } 
    #menu-item-73 {
      display: block;
      width: 150px;
      height: 45px;
      background-color: $button_color2;
      border-radius: 8px;
      margin: 0 auto;
      a {
        font-size: 14px;
        color: $darktheme_color;
        &:hover{
          color:$button_color2;
        }
      }
    }
  }
}
.menu-dropdown {
  display: none;
}
.show-dropdown {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: $lighttheme_color2;
  z-index: 2;
  order: 2;
  position: relative;
  text-align: center;
  @include desktop {
    display: block;
  }
 .wrapper{
    width: 100%;
    height: 100vh;
    background-color: $lighttheme_color2;
    position: absolute;
    top: 0;
    right: 0;
    z-index:6;
    .form-signin {
      padding: 40px 28px 45px;
      margin: 0 auto;
      h3 {
        text-transform: uppercase;
        font-weight: lighter;
        text-align: center;
        font-size: 14px;
        padding: 10px;
      }
      .form-signin-heading,
      .checkbox {
        margin-bottom: 30px;
      }
      .checkbox {
        font-weight: lighter;
        margin-top: 10px;
        float: left;
        width: 100%;
      }
      .form-control {
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;
        &:focus {
          z-index: 2;
        }
      }
      input[type="text"] {
        width: 80%;
        margin-bottom: -1px;
        border-radius: 8px;
      }
      input[type="password"] {
        width: 80%;
        margin-bottom: 20px;
        border-radius: 8px;
      }
    }
    .btn {
      display: block;
      width: 200px;
      height: 45px;
      background-color: $mainbutton_color;
      border-radius: 8px;
      box-shadow: none;
      border: none;
      a {
        text-shadow: none;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: lighter;
        color: $base_color;
      }
    }
  }
  .cross {
    width: 16px;
    height: 15px;
  }
  .submenu-down {
    width: 100%;
    height: 100px;
    background-color: $base_color;
  }
  .dropdown-menu-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    fieldset {
      border: none;
      button {
        position: absolute;
        width: 30px;
        height: 30px;
        top: 30px;
        left: 10%;
        z-index: 3;
        background-color: transparent;
        padding: 0;
        border: none;
        box-shadow: none;
        &:focus {
          outline: none;
        }
      }
    }
    input {
      margin-top: 20px;
      padding-left: 40px;
      position: relative;
      width: 80%;
      height: 30px;
      &:focus {
        outline: none;
      }
    }
  }
  li {
    display: block;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    @include desktop{
      display: flex;
    }
    h2 {
      margin: 0 auto;
      text-transform: uppercase;
      font-size: 18px
    }
  }
}
#header-logo {
  @include desktop {
    z-index: 1;
    width: 50%;
  }
}
.signin-section {
  display: none;
  @include desktop {
    display: block;
  }
  .wrapper {
    display: none;
  }
  .popup {
    width: 250px;
    height: 350px;
    margin-top: 40px;
    background-color: $lighttheme_color2;
    border-radius: 8px;
    position: absolute;
    top: 0;
    right: 130px;
    z-index:3;
    .form-signin {
      padding: 40px 28px 45px;
      margin: 0 auto;
      h3 {
        text-transform: uppercase;
        font-weight: lighter;
        text-align: left;
        font-size: 14px;
      }
      .form-signin-heading,
      .checkbox {
        margin-bottom: 30px;
      }
      .checkbox {
        font-weight: lighter;
        margin-top: 10px;
        float: left;
      }
      .form-control {
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;
        &:focus {
          z-index: 2;
        }
      }
      input[type="text"] {
        width: 200px;
        margin-bottom: -1px;
        border-radius: 8px;
      }
      input[type="password"] {
        width: 200px;
        margin-bottom: 20px;
        border-radius: 8px;
      }
    }
    .btn {
      display: block;
      width: 200px;
      height: 45px;
      background-color: $accentcolor_bar;
      border-radius: 8px;
      box-shadow: none;
      border: none;
      a {
        text-shadow: none;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: lighter;
        color: $base_color;
      }
    }
  }
}
.logo-image {
  width: 90px;
  padding: 0.5rem 0.8rem;
  order: 1;
  @include desktop {
    margin-left: 0;
  }
}

.hide-menu-drop{
  display: none;
}