p{
    margin-bottom: 0;
    margin: 0;
}
#site-navigation{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    @include desktop{
      position:absolute;
      display: block;
    }
    a{
      color: $lighttext_color;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.2rem;
    }
    .fa-bars{
      color: #9FABB7;
      font-size: 2.3rem;
      padding: 1rem;
      order:1;
      @include desktop{
        display: none;
      }
    }
    .menu-main-menu-container{
      @include desktop{
        position: absolute;
        top: 150px;
        // left: 5%;
      } 
      #menu-item-73{
        @include desktop{
          bottom: 100px;
          left: 80%;
          a{
            color:$lighttext_color;
            width: 150px;
            height: 45px;
            background-color: #B6EAFF;
            border-radius: 8px;
            padding-top: 10px;
          }
        }
      }
      a{
        @include desktop{
          color:white;
          padding: 0 1rem;
          font-size: 16px;
          font-weight: lighter;
        } 
      }
    }
    .submenu{
      width: 100%;
      height: 500px;
      background-color: #F6FCFF;
      z-index: 2;
      order:3;
      ul{
        display:block;
        display: flex;
        flex-direction: column;
      }
      li{
        width:100%;
        padding: 1rem;
      }
      #menu-item-73{
        padding-top:10px;
        background: #B6EAFF;
        width: 150px;
        height: 45px;
        border-radius: 8px;
        align-self: center;
        a{
        font-weight: lighter;
        }
      }
    }
    #header-logo{
      @include desktop{
          z-index: 1;
      }
    }
    .logo-image{
      width: 90px;
      padding: 0.5rem 0.8rem;
      order: 2;
    }   
}