.volunteer-content, .partner-facility-content, .support-us-content {
    .site-main {
        @include flex-column;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        font-family: raleway, arial;
        font-weight: lighter;
        color: $lighttext_color;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        @include desktop{
            h2{
                font-size: 2rem;
            }
        }
        .main-button-holder{
            padding: 10px;
            display: flex;
            flex-direction: column;
            @include desktop {
                flex-wrap: wrap;
                height: 44.5%;
            }
        }
        .main-button{
            @include general-button; 
            &.clear-button{
                border: 1px solid white;
            }
            margin-bottom: 26px;
            @include desktop {
                margin-bottom: 35px;
            }
            a{
                text-decoration: none;
                a:visited{
                    color: $base_color;
                }
            }
        }
        
        .small-button{
            @include small-button;
            margin: 0 auto;
            a{
                color: white;
                text-decoration: none;
            }
        }

        #volunteer{
            .small-button{
                margin-bottom: 26px;
            }
        }
        .white-button{
            a{
                color: $lighttext_color;
                text-decoration: none;
            }
        }
        .button-wrap{
            display: flex;
            width: 100vw;
            flex-direction: column;
            justify-content: center;
            height: 10%;
            padding: 3% 0;
            background-color: $mediumtheme_color;
        }
        #instructor{
            position: relative;
            ol{
                margin-bottom: 165px;
                @include desktop{
                    margin-bottom: 50px;
                } 
            }
            .button-wrap{
                position: absolute;
                justify-content: center;
                bottom: 40px;
                width: 100vw;
                @include desktop{
                    position: relative;
                }
            }
        }
        .entry-header{ 
            width: 100vw;
            height: 100vh;
            top: 0;
            color: $basetext_color;
            @include flex-column;
            justify-content: space-around;
            div{
                margin: 0 auto;
                width: 100%;
                max-width: 1020px;
            }
            @include desktop {
                padding-top: 15%;
            }
        }

        .drop-down-info{
            padding: 0;
            p{
                padding: 15px;
            }
        }
        header, section > *{ 
            padding: 15px;
        }

        section .info-paragraph{
            text-align: left;
        }

        .container-one{
            padding: 5% 0;
            position: relative;
            h2, p, .info-dropdown{
                margin: 0 auto;
                width: 100%;
                max-width: 1020px;
            }
        
            .contributor{
                background-color: lightgrey;
                height: 200px;
                width: 50%;
                margin: 0 auto;
            }
            .custom-info-container{
                background-color: $base_color;
            }
            .list-container{
                width: 100%;
                display: flex;
                flex-direction: row;
                @include desktop{
                    font-size: 1.5rem;
                }
            }
            .accent-background{
                position: relative;
                padding: 0;
                width: 100vw;
                &.monthly{
                    .background-accent{
                        background-color: rgba(159,171,183,0.6);
                    }
                }
                .background-accent{
                    position: absolute;
                    width: 100%;
                    height: 400px;
                    background-color: $lighttheme_color;
                    z-index: -1;
                    top: -10px;
                }
            }    
            .decorative-line{
                position: absolute;
                top: 230px;
                width: 13px;
                height: 250px;
                border-radius: 30px;
                background-color: $accentcolor_bar2;
            }

            .decorative-line2{
                position: absolute;
                width: 150px;
                height: 20px;
                background-color: $accentcolor_bar;
                opacity: .8;
                left: 70%;
                bottom: 50%;
                z-index: -1;
                border-radius: 8px;
            }
            ul{
                width: 90%;
                margin: 0 auto;
                text-align: left;
                padding: 30px;
                p{margin:0;}
            }
        }
        .container-two{
            padding: 5% 0;
            width: 100vw;
            background-color: $logo_color;
            h2{
                color: $darktext_color;
            }
            h2, p, ol, .info-dropdown{
                margin: 0 auto;
                width: 100%;
                max-width: 1020px;
            }
        }
        .container-three{
            padding: 5% 0;
            width: 100vw;
            background-color: $accentcolor_box;
            h2, p, .info-dropdown{
                margin: 0 auto;
                width: 100%;
                max-width: 1020px;
            }
        }
        .container-four{
            padding: 5% 0;
            width: 100vw;
            background-color: $accentcolor_bar2;
            h2, p, .info-dropdown{
                margin: 0 auto;
                width: 100%;
                max-width: 1020px;
            }
        }
        .container-tshirt{
            padding: 5% 0;
            background: url("../../images/tshirt_mobile.png") no-repeat center bottom;
            background-size: cover, cover;
            width: 100vw;
            color: $basetext_color;
            h2, p, .info-dropdown{
                margin: 0 auto;
                width: 100%;
                max-width: 1020px;
            }
        }
    }

    .main-carousel{
        width: 90%;
        padding: 30px;
        margin: 0 auto;
        .carousel-cell{
            width: 100%;
            height: auto;
            p{
                margin-top: 20px;
            }
            h1{
                color: $darktext_color;
            }
        }
        ol{
            display: none;
            margin-bottom:165px;
        }
        .flickity-prev-next-button{
            border: none;
            background: none;
            box-shadow: none;
            padding: 0;
            top: 25%;
        }
        .flickity-prev-next-button.next {
            right: 5%;
        }
        .flickity-prev-next-button.previous {
            left: 5%;
        }
    }
}

/* Volunteer */
.volunteer-content{
ol { 
    counter-reset: item;
    list-style-type: none;
    display: flex; 
    flex-direction: column;
    margin: 0;
    padding: 5%;
    @include desktop{
        flex-direction: row;
    }
    div{
        width: 50%;
        &:nth-child(odd){
            align-self: flex-start;
        }
        &:nth-child(even){
            align-self: flex-end;
            @include desktop{
                align-self: flex-start;
            }
        }
    }
    li { 
        &:before { 
            content: counter(item) "  "; 
            counter-increment: item;
            font-size: 4rem;
            background-color: white;
            border-radius: 100%;
            padding: 10% 24% 14%;
            color: $logo_color;
        }
        p{
            padding-top:16%;
            margin: 0;
        }
    }
}
}

/* Partner Facility */

.partner-facility{
    h2{
        width: 70%;
        margin: 0 auto;
    }
    .interested-facility{
        margin: 0 auto;
        width: 100%;
        max-width: 1020px;
        text-align: left;
        padding-left: 5%;
        h3{
            width: 85%;
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding:0;
            div{margin: 1% 0;}
            li{
                display: flex;
                p{
                    padding: 1% 0 0 3%;
                    margin: 5%;
                    @include desktop {
                        margin: 3%;
                        font-size: 1.25rem;
                    }
                }
            }
        }
    }
}

.partners-container{
    margin: 0 auto;
    width: 100%;
    max-width: 1020px;
    text-align: left;
    h3{
        width: 85%;
    } 
    h2, p{
        text-align: center;
    }
    ul{
        margin: 0;
        li p{
            text-align: left;
        }
    }
}

/* Partner Facility */

#sponsor{
    padding: 0;
}

