.page-template-volunteer, .page-template-support, .page-template-partner {
    .site-main {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
        font-family: raleway, arial;
        font-weight: lighter;
        color: $lighttext_color;
        .button-wrap{
            display: flex;
            flex-direction: column;
            height: 10%;
            padding: 10px;
            background-color: $darktheme_color;
        }
        .entry-header{
            width: 100vw;
            height: 100vh;
            top: 0;
            color: $basetext_color;
        }
        header, section{width: 100%;}

        .container-one{
            background-color: $base_color;

            .contributor{
                background-color: $lighttext_color;
                height: 200px;
                width: 50%;
                margin: 0 auto;
            }
            .custom-info-container{
                background-color: $base_color;
            }
            .list-container{
                width: 100%;
                display: flex;
                flex-direction: row;
            }
            .decorative-line-case{
                width: 10%;
                display: flex;
                justify-content: flex-end;
                .decorative-line{
                    width: 25%;
                    height: 90%;
                    border-radius: 30px;
                    background-color: $accentcolor_bar2;
                }
            }
            ul{
                width: 90%;
                margin: 0;
            }
        }
        .container-two{
            background-color: $logo_color;
            h2{
                color: $darktext_color;
            }
        }
        .container-three{
            background-color: $accentcolor_box;
        }
        .container-four{
            background-color: $accentcolor_bar2;
        }
        .container-tshirt{
        background: url("../../images/tshirt_mobile.png") no-repeat center bottom;
        background-size: cover, cover;
        color: $basetext_color;
        }
    }
}

/* Volunteer */
.page-template-volunteer{
ol { 
    counter-reset: item;
    list-style-type: none;
    display: flex; 
    flex-direction: column;
    margin: 0;
    padding: 5%;
    div{
        width: 50%;
        &:nth-child(odd){
            align-self: flex-start;
            }
        &:nth-child(even){
            align-self: flex-end;
        }
    }
    li { 
        &:before { 
            content: counter(item) "  "; 
            counter-increment: item;
            font-size: 4rem;
            background-color: white;
            border-radius: 100%;
            padding: 10% 22%;
            color: $logo_color;
        }
        p{
            padding-top:10%;
            margin: 0;
        }
    }
}
}

/* Partner Facility */

.partner-facility{
    h2{
        width: 70%;
        margin: 0 auto;
    }
    .interested-facility{
        text-align: left;
        padding-left: 5%;
        h3{
            width: 85%;
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding:0;
            li{
                display: flex;
                p{
                    padding: 1% 0 0 3%;
                    margin: 5%;
                }
            }
        }
    }
}

.partners-container{
    text-align: left;
    padding-left: 5%;
    h3{
        width: 85%;
    }
    
}