
@mixin desktop {
@media (min-width: $desktop_breakpoint) {
	@content;
}
}

@mixin who-we-are {
	@media (min-width: $who_break) {
		@content;
	}
}

@mixin larger-desktop {
@media (min-width: $site_container) {
	@content;
}
}

// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


//general button template
@mixin general-button {
	width:130px;
	height:44px;
	font-size:14px;
	text-align: center;
	text-transform:uppercase;
	box-shadow: none;
	text-shadow: none;
	box-shadow:none;
	text-shadow:none;
	color:white;
	border-radius:8px;
	border:none;
	font-family:'raleway',sans-serif;
	font-size:14px;
	display:flex;
	justify-content:center;
	align-items:center;
	text-decoration:none;
	@include desktop{
		width:230px;
	}
}

//general button template
@mixin small-button {
	width:173px;
	height:44px;
	display:block;
	margin:0 auto;
	font-size:14px;
	text-transform:uppercase;
	box-shadow: none;
	text-shadow: none;
	color:white;
	border-radius:8px;
	border:none;
	font-family:'raleway',sans-serif;
	font-size:14px;
	@include desktop {
		width: 230px;
	}
}

//basic flex display
@mixin flex-column{
	display: flex;
	flex-direction: column;
}

//main-h3 under hero

@mixin main-h3{
	padding-top:35px;
	font-size:24px;
	margin-bottom:20px;
	font-weight:300;
	color:#6B747D;
	width:290px;
	margin: 0 auto;
	text-align: center;
		@include desktop{
			font-size:40px;
	}
}

// paragraph under main-h3

@mixin main-p{
	font-size:14px;
    padding-bottom:22px;
    width:262px;
    margin:0 auto;
    color:#6B747D;
    text-align:center;
        @include desktop{
            font-size:24px;
            width:100%;
            }
	}

