//Resources Research

.general-first-button.teal-button{
    background-color:#6CFFFE
}

.research-h3-container{
    h3, p{
        width:290px;
        margin: 0 auto;
        text-align: center;


    }
}

.research-h3-container{
    h3{
        margin-top:35px;
    }
}

.list-text-container{
    p{
        display:inline;
    }
}

.resources-article-pdf-list-container{
    height:371px;
    background-color:black;
}

.resources-links-container{
    height:380px;
}

