.page-template-resources-media{

    .general-button{
        @include general-button;
        margin-bottom:29px;
    }
    
    .main-h3-container{
            h3{
                @include main-h3;
            }
        }


    .main-h3-container{
        p{
            @include main-p;
            }
        }
    
    .info-dropdown{
        padding:0;
    }


    .media-article-list, .media-video-list, .press-article-list{
        padding:0;
        margin:0;
        list-style:none;
        padding-bottom:20px;
            li{
                margin-bottom:12px;
                    @include desktop{
                        border-top:2px solid #4A4A4A;
                        padding-bottom:11px;
                    }
            }
    }

    .video-list-section{
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        padding-top:29px;
        padding: 29px 1rem;
            h3{
                font-weight:300;
                margin-bottom:10px;
                margin-top:40px;
                }
            li{
                margin-bottom:25px;
            }
    }

    .media-article-section{
        z-index:-2;
        background-color: #f4f1ea;
            @include desktop{
                padding-top:2rem;
            }
    }


  .media-date{
      @include desktop{
          position:relative;
          font-size:20px;
          margin-top:1rem;
          z-index:10;
          padding-bottom:1rem;

      }
  }

    .media-color{
        @include desktop{
            height:20px;
            position:absolute;
            top:-6%;
            border-radius: 8px;
            height: 35px;
            width: 305.17px;
            z-index:-1;
            left:-4rem;
            }
    }

    .media-blue{
        @include desktop{
            background-color: #CBE8EA;
        }

    }

    .media-purple{
        @include desktop{
            background-color:#CFDCEB;
        }
    }

  .read-more,.read-less{
      font-size:10px;
  
  }

  .media-heading-flex{
      @include desktop{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-bottom:2.5rem;
      }
  }

  .research-paper-para{
      display:none;
        @include desktop{
            display:block;
            color:#4A4A4A;
            font-size:20px;
            padding-bottom:36px;
        }
  }



}//Resources Media Wrapper