.resources-media-content{

    .general-button{
        @include general-button;
            margin-bottom:29px;
    }
    
    .main-h3-container{
        h3{
            @include main-h3;
        }
        p{
            @include main-p;
        }
    }       

    .info-dropdown{
        padding:0;
            h3{
                @include desktop{
                    font-size:20px;
                }
            }
    }

    .media-article-list, .media-video-list, .press-article-list{
        padding:0;
        margin:0;
        list-style:none;
        padding-bottom:20px;
            li{
                margin-bottom:12px;
                    @include desktop{
                        border-top:2px solid #4A4A4A;
                        padding-bottom:11px;
                    }
            }
    }

    .media-video-list{
        li{
            @include desktop{
                border-top:none;
                    h3{
                        @include desktop{
                            font-size:24px;
                        }
                    }
            }
        }
    }

    .entry-content-p{
        color:$darktheme_color;
    }

    .video-list-section{
        display: flex;
        justify-content: center;
        text-align: center;
        padding-top:1rem;
        flex-direction: column;
            h3{
                font-weight:300;
                margin-bottom:10px;
                margin-top:40px;
                    @include desktop{
                        margin-bottom:30px;
                    }
            }
            li{
                margin-bottom:25px;
            }
    }

    .media-article-section{
        z-index:-2;
        background-color: #F6F4F0;
            @include desktop{
                padding-top:2rem;
            }
    }

    .video-list-heading{
        @include desktop{
            font-size:40px;
        }
    }


  .media-date{
      @include desktop{
          position:relative;
          font-size:20px;
          margin-top:1rem;
          z-index:10;
          padding-bottom:1rem;
        }
    }

    .media-color{
        @include desktop{
            height:20px;
            position:absolute;
            top:-6%;
            border-radius: 8px;
            height: 35px;
            width: 305.17px;
            z-index:-1;
            left:-4rem;
        }
    }

    .media-blue{
        @include desktop{
            background-color: #CBE8EA;
        }
    }

    .media-purple{
        @include desktop{
            background-color:#CFDCEB;
        }
    }

    .page-title-header{
        padding-top:0;
        color:$darktheme_color;
        @include desktop{
            
        }
    }

    .general-template-section{
        height:60vh;
            @include desktop{
                height:100vh;
                justify-content:flex-start;
            }
    }

    .general-button-container{
        height:100px;
    }



    .read-more,.read-less{
      font-size:20px;
      cursor:pointer;
      transition:font-size 1s ease-in;
        @include desktop{
            margin-bottom:20px;
        }
        &:hover{
            transform:translatex(20px);
            letter-spacing:5px;
        }
    }

    .media-heading-flex{
        @include desktop{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom:2.5rem;
        }
    }

  .research-paper-para{
      display:none;
        @include desktop{
            display:block;
            color:$darktheme_color;
            font-size:20px;
            padding-bottom:36px;
        }
  }

  .video-item{
      display:block;
  }

  .video-link{
      p{
          display:none;
      }
  }
  
  .black-text{
      color:black;
        @include desktop{
            color:white;
        }
  }

  .teal-button{
      @include desktop{
          background-color: $button_color2;
      }
  }

  .teal-button.black-text{
      background-color:$brightbutton_color;
      color:black;
  }

  .page-title-header{
      @include desktop{
        padding-top: 0rem;
        color: #4a4a4a;
        background-color: #D8D8D8;
        margin-top: 4rem;
      }
  }

}//Resources Media Wrapper