.page-template-resources-media{

    .general-button{
        @include general-button;
        margin-bottom:29px;
    }
    
    .main-h3-container{
                h3{
                @include main-h3;
            }
        }


    .main-h3-container{
        p{
            @include main-p;
            }
        }

    .media-article-section{
        background-color: #f4f1ea;
    }

    .media-article-list{
        padding:0;
        margin:0;
        list-style:none;
            li{
                margin-bottom:12px;
            }
    }




}//Resources Media Wrapper