.search{

  .site-main{
    text-align: center;
    background-color: #dbe8ff;
    padding: 2rem;
  }
  h1{
    font-size: 24px;
    color: #6b747d;
  }
  article{
    margin: 0;
  }
  a{
    text-decoration: none;
    color: #6b747d;
     &:hover{
        color:#6a99e8;
      }
  }
  .entry-title{
    padding-top: 35px;
  }
  .entry-summary{
    margin: 0;
  }
  #site-navigation{
    position:relative;
    height:200px;
    background-color: #959ba5;
  }

}//search
