.training-for-facilities-content{
  .custom-hero-image{
      @include desktop{
      height:100vh;
      }
    }
  .main-carousel{
      width: 100%;
      padding: 30px;
      margin: 0 auto;
      .carousel-cell{
          width: 100%;
          height: auto;
          p{
              margin-top: 20px;
          }
          h1{
              color: $darktext_color;
          }
      }
      ol{
          display: none;
      }
      .flickity-prev-next-button{
          border: none;
          background: none;
          box-shadow: none;
          padding: 0;
      }
      .flickity-prev-next-button.next {
          right: 5%;
      }
      .flickity-prev-next-button.previous {
          left: 5%;
      }
  }//main carousel

  .heading-subtitle{
    color: white;
    width: 200px;
    text-align: center;
    margin: 0 auto;
  }

	.avail-online-h3{
		@include desktop{
			font-size:16px;
		}
	}

	.general-button, .book-training-button{
		@include general-button;
		margin-bottom:29px;
	}

	.button-black-text{
		color:black;
	}

	.training-yoga-tools-section,.training-yoga-work-section{
			margin-top:39px;
				@include desktop{
          max-width: 1024px;
          margin: 10px auto;
				}
	}

	.info-dropdown{
		background-color:#fff;
		border-bottom:2px solid $darktheme_color;
		margin: 0 auto 3% auto;
	}

	.info-field{
		background-color:#fff;
	}


	.training-h3-heading{
		width:293px;
		height:50px;
		margin:0 auto;
		font-size:20px;
		color: black;
		font-weight:600;
			@include desktop{
        		width:100%;
				margin-left:0;
				font-size:40px;
			}
	}

	.train-plus-button, .train-minus-button{
		background:transparent;
		border:none;
		box-shadow:none;
		color:$lighttext_color;
		font-weight:600;
		float:right;
	}
	.small-para{
		font-weight:300;
		font-size:11px;
		margin-bottom:5px;
	}
		
	.under-skills-training-para{
		color:#6B747D;
		font-size: 14px;
		min-width:290px;
		line-height:24px;
		margin-bottom:20px;	}

		
	.book-training-button{
		background-color:$lighttext_color;
		margin-top:18px;
	}

	.carousel-cell.is-selected{
        padding-left: 2rem;
        padding-right: 2rem;
			@include desktop{
				padding-left: 5rem;
    			padding-right: 5rem;
				display:flex;
				justify-content:center;
			}
    }

	.testimonal-slideshow-container{
		min-width:320px;
		height:100px;
		background-color:#EBE5D8;
  }

.training-list{
    max-width: 1020px;
    margin: 0 auto;
  }

	.info-list-content, .info-list-title{
		background-color:$logo_color;
	}

	.bottom-button-container{
		height:85px;
		width:100%;
		background-color:$mediumtheme_color;
		display:flex;
		align-items:center;
	}

	.fill-white{
		background-color:#fff;
		color:#4A4A4A;
	}

	#training-pdf-container{
		display:flex;
		justify-content:space-between;
		margin-bottom:5px;
		align-items:center;
		flex-wrap:wrap;
			a{
				background-color:#fff;
				width:80px;
				height:44px;
				display: flex;
				justify-content: center;
				align-items: center;
				text-decoration: none;
				border-radius:8px;
				border:1px solid white;
        		color: $mediumtheme_color;
			}
	}

	.yoga-info-title{
		font-size:16.38px;
	}

	.bottom-button-container{
		.general-button{
			color:#4A4A4A;
			background-color:#fff;
			margin-bottom:0;
		}
	}

    .content-container{
    margin: 0 auto;
  }
  .traininglist-container{
    background-color:$logo_color;
    width: 100%;
  }
}//Training Facilities Wrapper


