//General template

//Global
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.entry-title{
	text-align:center;
    color:white;
    padding-top:49px;
}

.entry-content{
	p{
		text-align:center;
        color:white;
	}
}

// ---------------------

.general-template-section{
	height:400px;
	background-color:lightgreen;
	width:100%;
	position:relative;
}



.general-button-container{
	position: absolute;
    bottom: 0;
	width:100%;
}

.general-first-button, .general-second-button, .book-training-button{
	width:230px;
	height:44px;
	display:block;
	margin:0 auto;
	font-size:14px;
	text-transform:uppercase;
	margin-bottom:26px;
    box-shadow:none;
    text-shadow:none;
    color:white;
	border-radius:8px;
    
}


.training-yoga-tools-section{
	padding:0 4%;
}


.training-h3-heading{
	width:293px;
	height:50px;
	margin:0 auto;
	border-bottom: 2px solid #4A4A4A;
	padding-bottom:16px;	
}
.train-plus-button, .train-minus-button{
	background:transparent;
	border:none;
	box-shadow:none;
	color:#6B747D;
	font-weight:600;
	float:right;
}
.small-para{
	font-weight:300;
	font-size: 11px;
	margin-bottom:5px;
}
.under-skills-training-para{
	color:#6B747D;
	font-size: 14px;
	min-width:290px;
}
.book-training-button{
	background-color:#6B747D;
	margin-top:18px;
}

.testimonal-slideshow-container{
	min-width:320px;
	height:100px;
	background-color:#EBE5D8;

}


//Training Facilities List
.training-list{
	height:auto;
	width:100%;
	background-color: #95AFC9;
	margin:0;
	list-style:none;
	padding:19px 15px;
}

.training-list-item{
	margin-bottom:30px;
	font-weight:500;
	font-size:14px;
}

.slide-para{
	display:none;
	background:#eee;
	padding:10px;
}

.bottom-button-container{
	height:85px;
	width:100%;
	background-color:#6B747D;
	margin-top:29px;
	display:flex;
}

.left-right-padddin

.fill-white{
	background-color:#fff;
	color:#4A4A4A;
}




