.page-template-training-main{
    font-family:'raleway',sans-serif;
        
    .main-h3-container{
        h3{
            color:$lighttext_color;
            font-weight:200;
            line-height:29px;
            font-size:24px;
            text-align:center;
            margin-top:35px;
            width:290px;
                @include desktop{
                    font-size:34px;
                    color:#000;
                    width:60vw;
                    text-align:left;
                    }
            }     
        p{
            color:$lighttext_color;
            line-height:24px;
            margin-top:21px;
                @include desktop{
                    font-size:24px;
                    line-height:34px;
                    }
            }
        a{
            color:#000;
            font-weight:bold;
            }
    }//main-h3-container

    .desktop-margin{
        margin-left:6%;
    }


    .training-para-left{
        text-align:left;
    }

    .for-training-section{
            @include desktop{
                padding-bottom:20rem;
            }
        margin-top:31px;
        img{
            height:60px;
                @include desktop{
                    height:auto;
                }
        }
    }

    .section-15px-padding{
        padding:0 15px;
    }

    .general-button{
        @include general-button;
        margin-bottom:29px;
    }

}//Training Main Wrapper