/*--------------------------------------------------------------
# Training Modules
--------------------------------------------------------------*/

.post-type-archive-training_modules{
    background: linear-gradient(rgba(216,216,216,0.6), rgba(182, 234, 255, 0.7)), url(../../images/deniz-altindas-38128.jpg)no-repeat center top;
    background-size: cover, cover;

    .entry-header{
        padding-top: 210px;
        max-width: 1020px;
        width: 100%;
        margin: 0 auto;
    }

    .course-modules{
        max-width: 1020px;
        width: 100%;
        margin: 5% auto 15% auto;
    }
    .main-button{
        @include general-button; 
        &.clear-button{
            border: 1px solid white;
        }
        margin-bottom: 26px;
        @include desktop {
            margin-bottom: 35px;
        }
        a{
            text-decoration: none;
            a:visited{
                color: $base_color;
            }
        }
    }

    .lesson-field{
        height: 500px;
        padding: 20px 15px 20px;
        p{
            text-align: center;
            margin: 15% 0 5%;
        }
        input[type=checkbox], span {
            margin: 20px 5px 2% 0;
            float:right;
            height: 21px;
        }
        input[type=checkbox] {
        //    display: none;
            margin-right: 40%;

        }
        .main-carousel{
            width: 90%;
            height: 90%;
            padding: 0 30px;
            margin: 0 auto;
            .flickity-viewport{
                height:95%!important;
                .flickity-slider{
                    height:100%;
                }
                .carousel-cell{
                    width: 100%;
                    height: 100%;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        height:100%;
                        width: 85%;
                }
            }
            }
        }

    }
    .to-do{
        background-color: $base-color;
        & .progress-text:before{
            content: "To Do";
        }
    }

    .in-progress{
        background-color: rgba(235, 229, 216, 1);
        & .progress-text:before{
            content: "In Progress";
        }
    }
    .completed{
        background-color: $accentcolor_line;
        & .progress-text:before{
            content: "Completed";
        }
    }

    .info-dropdown{
        border-bottom: 1px solid $mediumtheme_color;
        justify-content: space-between;
        height: 100px;
        .info-content{
            display: flex;
            height: 100%;
            img{
                width: 50px;
                margin-right: 20px;
            }
            .info-container{
                display: flex;
                flex-direction: column;
                p{
                    font-size: 1.25rem;
                }
            }
        }
        .progress{
            height: 100%;
            display: flex;
            align-items: center;
            .progress-icon{
                margin-right: 10px;
                height: 45px;
                width: 45px;
                background-size: cover, cover;
            }
            .incomplete{
                background: url("../../images/todo.svg") no-repeat center bottom; 
            }
            .half-way{
                background: url("../../images/progress.svg") no-repeat center bottom;
            }
            .complete{
                background: url("../../images/complete.svg") no-repeat center bottom;
            }
            .progress-text{
                font-size: 0.75rem;
                font-style: italic;
            }
        }
    }

    .dec-space{
        height: 100px;
        background-color: $base_color;
        border-bottom: 1px solid $mediumtheme_color;
    }

        /* Style the tab */
    div.tab {
        overflow: hidden;
        background-color: rgba(235, 229, 216, 0.6);
        display: flex;
        width: 100%;
    }

    /* Style the buttons inside the tab */
    div.tab button {
        flex-grow: 1;
        background-color: inherit;
        border: 1px solid $mediumtheme_color;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        margin: 0;
        font-size: 1.2rem;
        color:$lighttext_color;
        box-shadow: none;
        border-radius: 0;
    }

    /* Change background color of buttons on hover */
    div.tab button:hover {
        background-color: #ddd;
    }

    /* Create an active/current tablink class */
    div.tab button.active {
        background-color: $base_color;
        font-weight: bold;
        border-bottom: none;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        border: 1px solid $mediumtheme_color;;
        border-top: none;
    }

}