/*--------------------------------------------------------------
# Training Modules
--------------------------------------------------------------*/

.post-type-archive-training_modules{
    background: linear-gradient(rgba(216,216,216,0.6), rgba(182, 234, 255, 0.7)), url(../../images/deniz-altindas-38128.jpg)no-repeat center top;
    background-size: cover, cover;

    .entry-header{
        padding-top: 25%;
        max-width: 1020px;
        width: 100%;
        margin: 0 auto;
    }

    .course-modules{
        max-width: 1020px;
        width: 100%;
        margin: 0 auto;
    }


        /* Style the tab */
    div.tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: rgba(216,216,216,0.6);
    }

    /* Style the buttons inside the tab */
    div.tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
    }

    /* Change background color of buttons on hover */
    div.tab button:hover {
        background-color: #ddd;
    }

    /* Create an active/current tablink class */
    div.tab button.active {
        background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }










}