.training-content{
    font-family:'raleway',sans-serif;

    .main-h3-container{
        h3{
            color:$darktext_color;
            font-weight:200;
            line-height:29px;
            font-size:24px;
            text-align:center;
            margin-top:35px;
            width:290px;
                @include desktop{
                    font-size:34px;
                    color:#000;
                    width:60vw;
                    text-align:left;
                }
            }
        p{
            color:$darktext_color;
            line-height:24px;
            margin-top:21px;
                @include desktop{
                    font-size:24px;
                    line-height:34px;
                    max-width:700px;
                }
            }
        a{
            color:#000;
            font-weight:bold;
            }
    }//main-h3-container

    .training-para-left{
        text-align:left;
    }

    .for-training-section{
        @include desktop{
            padding-bottom:20rem;
        }
        margin-top:31px;
        img{
            height:80px;
            width:80px;
            z-index:2;
                @include desktop{
                    height:auto;
            }
        }
    }//for-training-section

    .page-title-header{
        @include desktop{
            color:#4A4A4A;
        }
    }


    .general-button{
        @include general-button;
        margin-bottom:29px;
    }

    .training-image-bar-container{
        position:relative;
        margin-top:1.5rem;
            h3{
                position: absolute;
                top: 0.5rem;
                left: 6rem;
                text-transform: uppercase;
                width: 159px;
                    @include desktop{
                        font-size:26px;
                        width:auto;
                        top:17px;
                    }
            }
    }

    .training-color-bar{
        height:35px;
        width:250px;
        background-color:#CBE8EA;
        position:absolute;
        top: 2rem;
        z-index:-1;
        border-radius:8px;
            @include desktop{
                width:320px;
            }
    }

    .training-image-bar-container:nth-of-type(3){
        margin-bottom:60px;
    }

    .training-color-bar.grey-bar{
        background-color:#C0DAE5;
    }

    .training-find-out-para{
        a{
            text-decoration:underline;
        }
    }



}//Training Main Wrapper
