//base colors
$base_color: #fff;

//theme colors
$darktheme_color:#4a4a4a;
$logo_color: #95afc9;
$lighttheme_color: #f4f1ea;
$formtheme_color: #9fabb7;

//accent colors
$accentcolor_box: #f3f0e9;
$accentcolor_line: #95afc9;
$accentcolor_bar: #94bfd1;
$accentcolor_bar2: #cce8ea;

//text colors
$basetext_color: #fff;
$darktext_color: #4a4a4a;
$lighttext_color: #6b747d;

//content colors
$mainbutton_color: #94bfd1;
$brightbutton_color: #6cfffe;
$formbutton_color: #c1d3da;


//widths
$desktop_breakpoint: 720px;



// Structure

$base__space-unit: 1.5rem;

// Colors

$color__background-body: #fff;
$color__text-main: #404040;

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;

// Typography

$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
