.who-we-are-content{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1, h2, h3, h4{
        margin: 0;

        font-family: Raleway;
        font-weight: 300;
    }
    .entry-header {
        height: 300px;
        width: 100%;
        padding: 66px 15px;
        color: #fff;
        background-color: #95AFC9;
        font-weight: 500;
        @include desktop{
            background-color:#EBE5D8;
            margin-top: 200px;     //Take out once override position absolute on nav
            padding: 20px 0;
            height:225px;
        }
    }
    .page-main-header{
        height: 100%;
    }
    .team {
        max-width: 100%;
        height: 100%;
        font-family: Raleway;
        font-weight: lighter;
        color: #6B747D;
    }
    .teamheader {
        height: 80px;
        font-weight: lighter;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h2 {
            font-size: 1.5rem;
                @include desktop{
                    color:#4A4A4A;
                    font-size:40px;
                    margin-bottom:10px;
                }
        }
        p {
            font-size: 0.8rem;
                @include desktop{
                    font-size:24px;
                    color:#000;
                }
        }
    }
    .info-dropdown {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: transparent;
        #hideshow{
            border: none;
            border-radius: 0;
            background: none;
            box-shadow: none;
            height: 50px;
            padding: 0;
        }
        h3 {
            font-weight: bold;
            font-size: 1.2rem;
            text-transform: capitalize;
                @include desktop{
                    font-size:34px;
                    margin:0 auto;
                    color:#4A4A4A;
                    text-transform:uppercase;
                    font-weight:100;
                    margin-top:60px
                }
        }
        span {
            font-size: 1.5rem;
        }
    }

    .info-field {
        height: 100%;
        background-color: transparent;
        @include flex-column;
        align-items: center;
    }
    .member-contain {
        width: 100%;
        position: relative;
        cursor:pointer;
        @include flex-column;
        align-items: center;
            @include desktop{
                width: 30%;
                margin-top:40px;
            }
        .staffphoto {
            width: 160px;
            height: 160px;
            object-fit: cover;
            border-radius: 50%;
            margin-bottom: 15px;
        }
        a {
            color: $darktext_color;
            font-size: 1.2rem;
            text-decoration: none;
        }
    }

    #site-navigation.main-navigation{
        @include desktop{
            position:relative !important;
        }
    }

    .entry-content-page{
        p{
            @include desktop{
                max-width: 40rem;
                margin: 0 auto;
            }
        }
    }
    .staff-item-container{
        @include desktop {
            display: flex !important;
            flex-wrap: wrap;
            justify-content:center;
            max-width: 1024px;
            margin: 0 auto;
        }
    }
    .staff-popup{
        background-color:#fff;
        width:90%;
        position: fixed;
        height:90vh;
        z-index:10;
        top: 5vh;
        left: 5vw;
        display:none;
        margin: 0 auto;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
        border-radius: 10px;
        @include desktop{
            width:40vw;
            left: 30%;
        }
    }
    .popup-description{
        margin:0 15px;
        .member-contain{
            margin:50;
            width:auto;
            img{
                width:40%;
                height:40%;
                max-width:none;
                margin:30px auto;
                object-fit:fill;
            }
            a{
                font-size:1.5rem;
                color:#000;
                max-width:500px;
                text-align:center;
            }
        }
    }
    .staff-description{
        display:none;
        padding: 10px;
        margin:0 auto;
        z-index:20;
        overflow-y: scroll;
        height: 40vh;
        font-size: 1rem;
        color:#000;
        margin-top:10px;
        text-align: left;
        font-size: 1rem;
        @include desktop{
            margin-top:10px;
            width: 80%;
            height: 30vh;
        }
    }
    .staff-info{
        margin:0 auto;
        z-index:20;
        font-size:0.75rem;
        color:#000;
        @include desktop{
            font-size:1rem;
        }
    }
    .exit-button{
        position:absolute;
        right: 2%;
        top: 2%;
        margin: 15px;
        height: 25px;
        z-index: 999999;
    }
    .fade-background{
        opacity: 0.8;
        filter: blur(5px);
        background-image: linear-gradient(to top right, rgba(83, 86, 99, 0.8) 0%, rgba(69, 77, 91, 0.6) 100%);

    }

    .click-text{
        display:none;
            @include desktop{
                display:block;
            }
    }

    .header-click-text{
        @include desktop{
            flex-direction:column;
        }
    }

    .accent-bar-container{
        background-color: rgba(203, 232, 234,0.4);
        border-radius: 8px;
        padding: 0.5rem 1rem;
        height: fit-content;
        width: 90%;
        @include desktop{
            width: 80%;
        }
    }
}

