.page-template-who-we-are{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    h1, h2, h3, h4{
        margin: 0;

        font-family: Raleway;
        font-weight: 300;
    }

    .hero-text {
        height: 300px;
        width: 100%;
        padding: 66px 10px 0 10px;
        margin-bottom: 40px;

        color: #fff;
        background-color: #95AFC9;

        font-family: Raleway;
        font-weight: 500;
        text-transform: capitalize;
        text-align: center;

        display: flex;
        flex-direction: column;

        h1 {
            font-size: 1.5rem;
        }
    }

    .team {
        max-width: 100%;
        height: 100%;


        font-family: Raleway;
        font-weight: lighter;
        color: #6B747D;
    }

    .teamheader {
        height: 80px;
        font-weight: lighter;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h2 {
            font-size: 1.5rem;
        }

        p {
            font-size: 0.8rem;
        }
    }

    .info-dropdown {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: transparent;

        #hideshow{
            border: none;
            border-radius: 0;
            background: none;
            box-shadow: none;
            height: 50px;
            padding: 0;
        }

        h3 {
            font-weight: bold;
            font-size: 1.2rem;
            text-transform: capitalize;
        }

        span {
            font-size: 1.5rem;
        }
    }

    .info-field {
        height: 100%;
        background-color: transparent;
        @include flex-column;
        align-items: center;

        .member-contain {
            width: 100%;
            margin-bottom: 40px;
            position: relative;
            @include flex-column;
            align-items: center;

            .staffphoto {
                width: 160px;
                height: 160px;
                object-fit: cover;
                border-radius: 50%;
                margin-bottom: 15px;
            }

            a {
                color: $darktext_color;
                font-size: 1.2rem;
                text-decoration: none;
            }

            .accent-name-shape {
                height: 25px;
                width: 250px;
                border-radius: 8px;
                background-color: #CBE8EA;
                position: absolute;
                right: 87px;
                bottom: -10px;
                left: -100px;
                z-index: -1;
            }
        }
    }
}